<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tra Chữ Nôm</title>
</head>
<body>
    <div th:replace="fragments/search_bar :: searchBar"></div>
    <a href="admin/dictionary_management">Quản lí từ điển</a>
    <div>
        <h1>Tra Cứu Chữ Nôm</h1>
        <p>Xin chào đến với trang web Tra Chữ Nôm. Đây là nơi bạn có thể tra cứu các ký tự chữ Nôm một cách dễ dàng và nhanh chóng.</p>
    </div>
</body>
</html>